pip
wheel

twine==1.14.0
pytest
pytest-runner
pytest-cov
pytest-cookies
nbmake
coverage
ruff
pre-commit
codespell

# doc
docutils<0.21  # because of compatibility issue with nbsphinx-link
nbsphinx
nbsphinx-link
sphinx<=7.3.6 # jupyter_sphinx requires sphinx>=2
jupyter_sphinx>=0.3.2
sphinxcontrib-plantuml
pygments>=2.6.1
pydata-sphinx-theme
numpydoc
jinja2==3.0.3

numpy>=1.21
matplotlib >= 3.5.1
typing_extensions
